<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/library.css">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>
  <body ng-app='app' ng-controller='ctrl' ng-cloak>

    <!-- SPLASH -->
    <div id="splash" class="flexCol">
      <p id="splashLogo">Sew & So</p>
      <p id="splashDesignerName">BY BRITTANY HARRISON</p>
    </div>

    <!-- CONTAINER -->
    <div id="container" class="none flexCol">

      <!-- PRODUCT GALLERY -->
      <div id="productGalleryContainer" class="flexRow" ng-if='showProductGallery'>
        <div id="shadedArea" class="" ng-click='toggleProductGallery()'></div>
        <div id="productGallery" class="fullWidth flexRow">
          <div id="" class="flexRow fullHeight">
            <div id="bigImgInGallery" class=""></div>
            <div id="smallImgsInGallery" class="fullHeight flexRow">
              <div id="img0" class="smallImgs h50 w50" ng-click='setLargerGalleryImg(0)'></div>
              <div id="img1" class="smallImgs h50 w50" ng-click='setLargerGalleryImg(1)'></div>
              <div id="img2" class="smallImgs h50 w50" ng-click='setLargerGalleryImg(2)'></div>
              <div id="img3" class="smallImgs h50 w50" ng-click='setLargerGalleryImg(3)'></div>
            </div>
          </div>
          <div id="descriptionSectionInGallery" class="fullHeight">
            <div id="descriptionTop" class="fullWidth h20 flexCol">
              <p id="descriptionName"></p>
              <p id="descriptionPrice"></p>
            </div>
            <div id="descriptionMiddle" class="fullWidth h40 flexCol">
              <p id="descriptionDescription"></p>
            </div>
            <div id="descriptionBottom" class="fullWidth flexCol">
              <div id="descriptionBuyBtn" class="flexCol fullWidth descriptionBtn">
                <p>ADD TO CART</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- NAVIGATION -->
      <div  id="navigation" class="flexRow">
        <div id="bavLeftSide" class="flexRow">
          <p id="logo">SEW & SO</p>
          <p class="navOptions pointer">HOME</p>
          <p class="navOptions pointer">ABOUT</p>
          <p class="navOptions pointer active">SHOP</p>
          <p class="navOptions pointer">LESSONS</p>
          <p class="navOptions pointer">CONTACT</p>
          <p class="navOptions pointer">CART</p>
        </div>
        <div id="navRightSide" class="flexRow">
          <i class="fas fa-search pointer"></i>
          <i class="fas fa-user-circle pointer"></i>
          <i id="cartIcon" class="fas fa-shopping-bag pointer"></i>
          <p id="cartQuantity" class="flexRow">{{cartQuantity}}</p>
        </div>
      </div>

      <!-- FILTER -->
      <div id="filter" class="flexRow">
        <div id="filterLeftSide" class="flexRow">
          <p class="filterOption pointer">SIZE &nbsp; <span><i class="fas fa-angle-down"></i></span></p> <p class="filterDivider">/</p>
          <p class="filterOption pointer">COLOR &nbsp; <span><i class="fas fa-angle-down"></i></span></p> <p class="filterDivider">/</p>
          <p class="filterOption pointer">FILTER &nbsp; <span><i class="fas fa-angle-down"></i></span></p> <p class="filterDivider">/</p>
          <p class="filterOption pointer">PRICE &nbsp; <span><i class="fas fa-angle-down"></i></span></p> <p class="filterDivider">/</p>
          <p id="resetFilterBtn" class="pointer">x reset filters</p>
        </div>
        <div id="filterRightSide" class="flexRow">
          <p>view:</p>
          <div id="largeGalleryView" class="flexRow pointer">
            <div class="largeGalleryViewBox"></div>
            <div class="largeGalleryViewBox"></div>
            <div class="largeGalleryViewBox"></div>
            <div class="largeGalleryViewBox"></div>
          </div>
          <div id="smallGalleryView" class="flexRow pointer">
            <div class="smallGalleryViewBox"></div>
            <div class="smallGalleryViewBox"></div>
          </div>
        </div>
      </div>

      <!-- GALLERY -->
      <div id="gallery" class="">
        <div id="galleryContainer" class="fullHeight w80 flexRow">
          <div data={{$index}} class="productBox" ng-repeat='product in products track by $index'>
            <div data={{$index}} class="productPriceBox flexRow">
              <p>{{product.price}}</p>
            </div>
            <div data={{$index}} class="innerImg fullHeight fullWidth" style="background-image: url('{{product.img}}')"></div>
            <div class="productBtns fullWidth fullHeight">
              <div class="addToCartBtn fullWidth h50 flexRow" ng-click='addToCartFromGallery($index)'>
                <p>ADD TO CART</p>
              </div>
              <div class="viewGalleryBtn fullWidth h50 flexRow" ng-click='toggleProductGallery($index)'>
                <p>VIEW GALLERY</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div id="footer" class="flexRow">
        <i class="fab fa-facebook pointer"></i>
        <i class="fab fa-snapchat-square pointer"></i>
        <i class="fab fa-twitter-square pointer"></i>
        <i class="fab fa-instagram pointer"></i>
        <i class="fab fa-youtube pointer"></i>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>

    <style media="screen">
      #splashDesignerName::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 0.02em;
        background-color: #fff;
        transition: width 0.4s;
        transition-delay: 0.6s;
        transition-timing-function: cubic-bezier(.3,1.19,.93,.9);
        width: {{splashLoaderWidth + '%'}};
      }
    </style>
  </body>
</html>
